params {
    outDir = "/lustre/smriti.a/samhita/results_dengue_80/"
    //outDir = "/lustre/smriti.a/samhita/results_dengue_112/"

    readsDir = "/lustre/smriti.a/samhita/dengue_80/*_R{1,2}*.fastq.gz"
    //readsDir = "/lustre/smriti.a/samhita/dengue_112/*_R{1,2}*.fastq.gz"
    
    starBAM_transcriptome = "/lustre/smriti.a/samhita/results_dengue_80/**/star_gencode/*_Aligned.toTranscriptome.out.bam"
    starBAM = "/lustre/smriti.a/samhita/results_dengue_80/**/star_gencode/*_Aligned.sortedByCoord.out.bam"

    salmon_index = "/lustre/smriti.a/samhita/reference/salmon_index_keepDuplicates"
    star_index_gencode = "/lustre/smriti.a/samhita/reference/STAR_genomeIndices"
    transcriptome_ref = "/lustre/smriti.a/samhita/reference/gencode.v47.transcripts.fa"
    adapters = "/lustre/smriti.a/samhita/tools_softwares/Trimmomatic-0.39/adapters/custom_adap.fa"
    herv_gtf = "/lustre/smriti.a/samhita/reference/hervd.gtf"

    runName = "dengue80_all_multiqc_salmonAlign"

    dengue = "/lustre/smriti.a/samhita/dengue_raw_fastq/dengue_80_Classification.csv"
    //dengue = "/lustre/smriti.a/samhita/dengue_112/dengue_112_Classification.csv"

    trimmedReadsDir = "/lustre/smriti.a/samhita/results_dengue_80/**/**/*_R{1,2}_paired.fq.gz"
    //trimmedReadsDir = "/lustre/smriti.a/samhita/results_dengue_112/**/**/*_R{1,2}_paired.fq.gz"
}

process {
  executor = 'slurm'   
  
  withName: 'FASTQC*' {
    cpus = 1        
    memory = '4 GB'
  }

  withName: 'TRIM' {
    cpus = 4        
    memory = '16 GB'
  }

  withName: 'SALMON_MAP' {
    cpus = 10       
    memory = '40 GB'
  }

  withName: 'SALMON_MAP_KD' {
    cpus = 10       
    memory = '40 GB'
  }

  withName: 'SALMON_ALIGN' {
    cpus = 10       
    memory = '40 GB'
  }

  withName: 'STAR_GENCODE' {
    cpus = 15     
    memory = '80 GB'
  }
  
  withName: 'FEATURE_COUNTS_1' {
    cpus = 40        
    memory = '160 GB'
  }

  withName: 'MULTI_QC' {
    cpus = 1        
    memory = '4 GB'
  }
  
  //time = '10h'             
  
  clusterOptions = '--partition=compute,smp,newcompute'
}

report.overwrite = true
timeline.overwrite = true
trace.overwrite = true

//cleanup = true